<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="Home - Red Barrels">
		<meta property="og:site_name" content="Red Barrels">
		<link rel="shortcut icon" href="../css/img/favicon.ico">
		<title>Dark Souls II</title>
		<!-- Css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Js -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>

		<!-- Navbar -->
		<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="685">
		  	<div class="container">
			    <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
				    </button>
				    <a class="navbar-brand" href="#myPage">Logo</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				    <ul class="nav navbar-nav navbar-right">
					    <li><a href="index.html">HOME</a></li>
				    </ul>
				</div>
			</div>
		</nav>

		<header class="page-header">
			<img src="../css/img/darksouls2.jpg" class="show-for-media-up">
		</header>

		<!-- Container (Information Section) -->
		<div class="container-fluid text-center bg-grey">
			<div class="row text-center slideanim">
			    <div id="text" class="col-sm-4">
			    	<div class="text" style="text-align: justify;">
				    	<h2 class="title-h1">Dark Souls II</h2>
					    <p>
							Las mecánicas del juego en Dark Souls II son similares a las de su predecesor; el co-director Tomohiro Shibuya ha indicado que no tiene intenciones de cambiar los controles. El juego incluye todo un mundo nuevo con muchas armas que son utilizadas para luchar contra los monstruos dentro del juego. También se indicó que la creación de personajes sería similar a Dark Souls.						
						</p>
						<p>
							Los Covenants, uno de los elementos de Dark Souls que permitía al jugador unirse a diferentes facciones, también están incluidos en esta secuela, aunque serán más fáciles de entender y más accesibles a los jugadores. El mundo del juego es, más o menos, del mismo tamaño que en Dark Souls, aunque la densidad del contenido es mucho más grande y también le da al jugador más libertad para elegir cómo avanzar, siendo el principio del juego más accesible a los primerizos.
						</p>
					</div>
			    </div>
			    <div class="col-sm-4">
			    	<div class="text">
				        <h2 class="title-h6 upper"> Información General</h2>
							<p style="text-align: left; margin-left: 170px;"><strong>Status:</strong> Available<br>
								<strong>Developer:</strong> From Software<br>
								<strong>Genre:</strong> Rol de Accion<br>
								<strong>Platform:</strong> PC, PS3, Xbox 360, PS4, Xbox One<br>
								<strong>Rating:</strong> ESRB M<br>
								<img src="https://redbarrelsgames.com/wp-content/uploads/2015/09/ESRB_outlast2webSite.jpg" alt="ESRB Mature">
							</p>
					</div>
				</div>
			</div>
		</div>
		<br><br>

		<!-- Container (Video Section) -->
		<div id="portfolio" class="container-fluid text-center bg-grey">
		  <div class="row text-center slideanim">
		    <div class="col-sm-4">
		      <div style="margin-left: 300px;">
		        <iframe width="854" height="480" src="https://www.youtube.com/embed/mbDmI_2IVQ8" frameborder="0" allowfullscreen></iframe>
		      </div>
		    </div>
		  </div>
		</div>
		<br><br>

		<!-- Footer -->
		<footer>
        	<div id="footer">
        		<div id="title_footer">
	        		<div class="ptm">
	        			<p id="#copyright01">
	        				Suscribete a nuestro Newsletter
	        			</p>
	        		</div>
        		</div>
        		<div class="input-group">
				    <input type="text" id="i" class="form-control" placeholder="Search" name="search">
				    <div class="input-group-btn">
				       <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-ok-circle"></i></button>
				    </div>
				</div>
        	</div>
        </footer>
	</body>
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/darksoulsCss.css">
</html>