<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="Home - Red Barrels">
		<meta property="og:site_name" content="Red Barrels">
		<link rel="shortcut icon" href="../css/img/favicon.ico">
		<title>Index</title>
		<!-- Css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Js -->
		<script type="text/javascript" src="../js/index.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<!-- Contenedor para posecionar el banner arriba del navbar -->
			<div class="container-fluid" style="background-color:#000;height:100%;">
			  <div class="container" style="width:100%;"> 
				  <div id="myCarousel" class="carousel slide" data-ride="carousel">
				    <!-- Indicators -->
				    <ol class="carousel-indicators">
				      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				      <li data-target="#myCarousel" data-slide-to="1"></li>
				      <li data-target="#myCarousel" data-slide-to="2"></li>
				    </ol>

				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" style="height:685px;">
				      <div class="item active">
				        <img src="../css/img/img1.jpg">
				      </div>

				      <div class="item">
				        <img src="../css/img/img2.jpg">
				      </div>
				    
				      <div class="item">
				        <img src="../css/img/img3.jpg">
				      </div>
				    </div>

				    <!-- Left and right controls -->
				    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
				      <span class="glyphicon glyphicon-chevron-left"></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="right carousel-control" href="#myCarousel" data-slide="next">
				      <span class="glyphicon glyphicon-chevron-right"></span>
				      <span class="sr-only">Next</span>
				    </a>
				  </div>
				</div>
			</div>
			<!-- Navbar -->
			<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="685">
			  	<div class="container">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
				      </button>
				      <a class="navbar-brand" href="#myPage">Logo</a>
				    </div>
				    <div class="collapse navbar-collapse" id="myNavbar">
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="#about">ABOUT</a></li>
				        <li><a href="#services">SERVICES</a></li>
				        <li><a href="#portfolio">PORTFOLIO</a></li>
				        <li><a href="#pricing">PRICING</a></li>
				        <li><a href="#contact">CONTACT</a></li>
				      </ul>
				  	</div>
			  	</div>
			</nav>

			<!-- Jumbotron -->
			<div class="a">
				<div class="jumbotron text-center">
				  <h1>DARK SOULS</h1> 
				  <p>We specialize in Dark Souls</p> 
				  <form>
				    <div class="input-group">
				      <div class="input-group-btn">
				      	<!-- Aplicando modal para suscripcion -->
				        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Subscribe</button>
				      </div>
				    </div>
				  </form>
				</div>
			</div>
			
			<!-- Container (Portfolio Section) -->
			<div id="portfolio" class="container-fluid text-center bg-grey">
				<h2>Dark Souls Saga</h2>
				<h4>Trilogia</h4>
				<br>
				<div class="row text-center slideanim">
				    <div class="col-sm-4">
				      <div class="thumbnail">
				      	<a href="DarkSouls.html">
					        <img src="../css/img/artorias.jpg" alt="Dark Souls" width="100%" height="100%">
					        <p><strong>Dark Souls</strong></p>
				        </a>
				      </div>
				    </div>
				    <div class="col-sm-4">
				      <div class="thumbnail">
				      	<a href="DarkSouls2.html">
					        <img src="../css/img/faraam.jpg" alt="Dark Souls 2" width="100%" height="100%">
					        <p><strong>Dark Souls II</strong></p>
				        </a>
				      </div>
				    </div>
				    <div class="col-sm-4">
				      <div class="thumbnail">
				      	<a href="DarkSouls3.html">
					        <img src="../css/img/alma de cenizas.jpg" alt="Dark Souls 3" width="100%" height="100%">
					        <p><strong>Dark Souls III</strong></p>
				        </a>
				      </div>
				    </div>
			  	</div>
			</div>

			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog" style="z-index: 9999;">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Suscribirse</h4>
			      </div>
			      <div class="modal-body">
			        <!-- Formulario de suscripcion -->
			        <div class="form-group">
					  <label for="usr">Nombre:</label>
					  <input type="text" class="form-control" id="usr">
					</div>
					<div class="form-group">
					  <label for="pwd">Contraseña:</label>
					  <input type="password" class="form-control" id="pwd">
					</div>
					<div id="reemplazar" class="form-group">
					  <button type="button" class="btn btn-danger" onclick="validar()">Suscribirse</button>
					</div>
			      </div>
			    </div>

			  </div>
			</div>
			<br>
			<footer>
	        	<div id="footer">
	        		<div id="title_footer">
	        			
	        				<p id="copyright01">
	        				COPYRIGHT © 2017
	        				<br>
	        				ALL RIGHTS RESERVED.
		        			</p>
		        	</div>
		        </div>
	        </footer>
			<script>
				$(document).ready(function(){
				  // Add smooth scrolling to all links in navbar + footer link
				  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
				    // Make sure this.hash has a value before overriding default behavior
				    if (this.hash !== "") {
				      // Prevent default anchor click behavior
				      event.preventDefault();

				      // Store hash
				      var hash = this.hash;

				      // Using jQuery's animate() method to add smooth page scroll
				      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
				      $('html, body').animate({
				        scrollTop: $(hash).offset().top
				      }, 900, function(){
				   
				        // Add hash (#) to URL when done scrolling (default click behavior)
				        window.location.hash = hash;
				      });
				    } // End if
				  });
				  
				  $(window).scroll(function() {
				    $(".slideanim").each(function(){
				      var pos = $(this).offset().top;

				      var winTop = $(window).scrollTop();
				        if (pos < winTop + 600) {
				          $(this).addClass("slide");
				        }
				    });
				  });
				})
				</script>
	</body>
	<!-- Css -->
		<link rel="stylesheet" type="text/css" href="../css/indexCss.css">
</html>